[submodule "layr/layr/SPI/src/axi_spi_master"]
	path = layr/layr/SPI/src/axi_spi_master
	url = https://github.com/pulp-platform/axi_spi_master.git
[submodule "layr/layr/Auth/secworks-aes"]
	path = layr/layr/Auth/secworks-aes
	url = https://github.com/secworks/aes.git
